.gifItem {
  position: relative;
}

.gifItem h3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, .8);
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.gifItem img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.gifItem a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}