.gifItem {
  position: relative;
  height: 100%;
}

.gifItem a {
  position: relative;
  height: 100%;
  width: 100%;
  color: #fff;
  display: block;
  text-decoration: none;
}

.gifItem h3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, .8);
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.gifImage {
  height: inherit;
}

.gifImage img {
  height: inherit;
  /* object-fit: cover; */
  width: 100%;
  vertical-align: top;
  border-radius: 0.5rem;
}