.giffy-content {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media only screen and (min-width:900px) {
  .content-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: initial;
    align-items: flex-start;
  }
}