.trending-tags {
  height: 100%;
  overflow: hidden;
  width: 60%;
}

.trending-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  height: 80%;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
}

.trending-item {
  font-weight: 600;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #fff;
  background-color: #003049;
  ;
  text-align: center;
  padding: 0.3rem;
}

.trending-item a {
  color: #fff;
  text-decoration: none;
}