.app-content, .app-header {
  padding: 0 1rem;
}

.app-header {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: aquamarine;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}