.app-content {
  padding: 0 1rem;
  min-height: 100vh;
}

.listGif {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 1rem;
}